* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;

  align-items: center;
  background: #0a1931;
  width: 100%;

}

.nav_item {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 5px 20px;
  justify-content: space-between;
}

.brand {
  color: #fff;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  margin-left: 20px;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 5px 10px;

}

.box {
  background: #185adb;
  color: #fff;
  min-height: 300px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin: 10px;
}

.box2 {
  background: #0a1931;
  color: white;

}